

.herencia {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    /* background-color: mediumpurple; */
    line-height: 1.5;

}
.links{
    color:red;
} 
